* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: orange;
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}
header ul li{
    list-style: none;
    margin: 0.25rem 1rem;
    font-size: 20px;
}
header ul li a{
    text-decoration: none;
    color: black;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* height: 350px;
    width: 320px; */
}

.products {
    height: 440px;
    width: 250px;
    margin-bottom: 1rem;
    border: 1px solid;
   padding: 0.5rem 1rem;
   background-color: #ccc;
}
.products a{
    text-decoration: none;
}
.add{
    background-color: #19c830;
    color: rgb(230, 30, 16);
    border: 1px solid #000;
    padding: 5px;
    border-radius: 15px;
}

.ProductImage {
    width: 200px;
    height: 250px;
}
/* .products a{
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    text-decoration: none;
    padding: 0rem 2rem ;
    border-radius: 0.5rem;
    margin: 3rem 0 ;
} */
.detail{
    display: flex;

}
.image{
    width: 50%;
    
}
.image img{
    height: 300px;
    width: 300px;
    padding-left: 5rem;
}
.texts{
    width: 50%;
    padding: 2rem 5rem;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}
.about h1{
    border-bottom: 5px solid;
    margin-bottom: 1rem;
}
.display{
    /* display: flex; */
}
.cartbox{
    display: flex;
    margin: 1rem;
}
.cartimg{
    height: 100px;
    width: 100px;
    margin-right: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.426) ;
    border-radius: 10px ;
    padding: 5px;

}
::selection{
    background-color: rgba(61, 63, 53, 0.404);
    color: beige;
}
.cartimg img{
    height: 100%;
    width: 100%;
}
.cartdetail{
    margin-top: 1rem;
    /* text-align: center; */
}
span{
    background-color: rgba(0, 0, 0, 0.717);
    color: white;
    padding:3px;
    border-radius: 50%
}